.pagination{
    justify-content: center;
}

.pagination .page-link{
    color: $global_prim-color;
}

.pagination .page-item.active .page-link{
    background-color: $global_prim-color;
    border-color:  $global_prim-color;
}

.pagination .page-item .page-link{
    width: 35px;
    height: 40px;
    padding: 0;
    line-height: 40px;
    text-align: center;
}

.page-link i{
    line-height: 40px;
}

.page-item >.page-link.disabled-link,
.page-link.disabled-link,
.disabled-link{
    cursor: default;
    & i{
        cursor: default;
    }
    &:hover{
        cursor: default;
        background-color: #fff;
    }
}
