
          <div class="sidebar col-lg-4 col-xl-3 offset-xl-1">
            <div class="row">
            <!-- SIDEBAR : ABOUT -->
            <section class="sidebar_about col-sm-9 col-md-6 col-lg-12 mx-auto">
              <h3 class="sidebar-title">À Propos</h3>
              <p>Des plaines verdoyantes, aux montagnes acérées ... <br/>À travers un format inédit et résolument moderne, je souhaite vous faire découvrir mon nouveau roman :
              <br/> &laquo;<strong> Un billet simple pour l'Alaska</strong>&raquo;</p>
              <p> Êtes vous prêt pour le voyage le plus glacial de votre vie ... ?</p>
              <p> - <strong>Jean FORTEROCHE</strong> -</p>
            </section>
    
            <!-- SIDEBAR : SOCIAL -->
            <section class="sidebar_social col-sm-9 col-md-6 col-lg-12 mx-auto">
              <h3 class="sidebar-title">Gardons le contact</h3>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="alt-color" href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="alt-color" href="#"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a class="alt-color" href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="alt-color" href="#"><i class="fab fa-snapchat-ghost"></i></a></li>
                <li class="list-inline-item"><a class="alt-color" href="#"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </section>
    
            {#
            <!-- SIDEBAR : MAILING -->
            <section class="sidebar_mailing d-none d-lg-block col-lg-12">
              <h3 class="sidebar-title">Newsletter</h3>
              <form action="#">
    
                <div class="col-auto">
                  <label class="sr-only" for="inlineFormInputGroup">Username</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Newsletter" required><input type="submit" class="btn collapse-right sidebar_mailing-send" value="Envoyer"/>
                  </div>
                </div>
              </form>
            </section>
            #}
            
            <!-- SIDEBAR : LAST POST -->
            <section class="sidebar_lastpost col-sm-9 col-md-7 col-lg-12 mx-auto">
              <h3 class="sidebar-title">Derniers billets</h3>
    
              {% for Lastpost in Sidebar.BlogPosts %}
              <section class="sb-lp_post">
                <h4 class="sb-lp_post-title"><a href="./?a=viewBlogPost&id={{Lastpost.id}}" class="alt-color">{{Lastpost.title}}</a></h4>
                <p class="sb-lp_post-content">{{ Lastpost.content|excerpt(150)|raw }}</p>
              </section>
              {% endfor %}
    
            </section>
            </div>
          </div>