    
    
    {% if Comments %}
        {% for Comment in Comments %}
        <section class="mc_post_comments-wrapper">
            <div class="mc_post_comment row">
              <header class="mc_post_comment-avatar col-sm-2 col-lg-2">
                <img src="./images/default-avatar.png" width="70" height="70" class="" alt="Avatar de {{Comment.authorName}}">
              </header>
              <section class="col-sm-10 col-lg-8">
                <h5 class="mc_post_comment-author">{{Comment.authorName}}</h5>
                <div class="mc_post_comment-date date">{{BlogPost.publishDate|date('d/m/Y H:i:s')}}</div>
                <p class="mc_post_comment-content">
                  {{Comment.content}}
                </p>
                <hr>
              </section>
              <footer class="mc_post_comment-footer col-sm-12 col-lg-2">
                <button class="light-btn small-btn">Signaler</button>
                <hr>
              </footer>
            </div>
          </section>
        {% endfor %}
    {% endif %}