{% extends "frontend/base.html" %}

{% block title %}Un billet simple pour l'alaska - Jean FORTEROCHE{% endblock %}

{% block content %}
<main class="content-wrapper col-lg-8 mx-auto">

    {# Main loop to create Blog post preview list #}
    {% for BlogPost in BlogPosts %}
    <!-- Start - Blog post : Preview -->
    <article class="mc_post">
      <!-- Post preview - Header -->
      <header class="row justify-content">
        <div class="mc_post-date date col-12">
          {{BlogPost.publishDate|date('d/m/Y')}} 
        </div>
        <h2 class="mc_post-title col-12">{{BlogPost.title}}</h2>
      </header>

      <!-- Post preview - Content -->
      <div class="mc_post-content">
        <figure class="mc_post-picture">
          <img src="{{BlogPost.pictureURL}}" alt="" >
        </figure>

        <div class="mc_post-content prev">
          {{BlogPost.content}}
        </div>
      <!-- Post preview - Footer -->
        <footer class="mc_post-footer">
          <button class="mc_post-readmore light-btn">Afficher la suite</button>
        </footer>
      </div>
        <hr>
    </article>
    {% endfor %}
  <!-- End - Blog post : Preview -->

    <nav aria-label="pagination">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" tabindex="-1"><i class="fa fa-chevron-left"></i></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a>
        </li>
      </ul>
    </nav>
    <hr>
</main>

{% endblock %}

{% block sidebar %} {{ include('frontend/partial/sidebar.html') }} {% endblock %}