{% extends "blog/_base.html" %}

{% block title %}À Propos de l'auteur - Jean FORTEROCHE{% endblock %}

{% block content %}

<main class="content-wrapper col-lg-8 mx-auto">

    <article class="mc_post">
       <header class="row justify-content">
        <div class="mc_post-date date col-12">
          À Propos de l'auteur ...
        </div>
        <h2 class="mc_post-title col-12">Jean Forteroche</h2>
      </header>

      <!-- Post preview - Content -->
      <div class="mc_post-content">
        <figure class="mc_post-picture">
          <img src="./assets/images/Jean_Forteroche.jpg" height="400" alt="Photo de Jean Forteroche" >
        </figure>

        <div class="mc_post-content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quidem expedita a mollitia aliquid alias asperiores dolorem, iusto blanditiis velit aspernatur magni amet architecto natus debitis temporibus voluptatem accusamus animi!</p>
        </div>
      </div>
        <hr>
    </article>
</main>

{% endblock %}

{% block sidebar %} {{ include('blog/partial/sidebar.html') }} {% endblock %}