{% extends "blog/_base.html" %}

{% block title %}À Propos de l'auteur - Jean FORTEROCHE{% endblock %}

{% block content %}

<main class="content-wrapper col-lg-8 mx-auto">

    <article class="mc_post">
       <header class="row justify-content">
        <div class="mc_post-date date col-12">
          À Propos de l'auteur ...
        </div>
        <h2 class="mc_post-title col-12">Jean Forteroche</h2>
      </header>

      <!-- Post preview - Content -->
      <div class="mc_post-content">
        <figure class="mc_post-picture">
          <img src="./assets/images/Jean_Forteroche.jpg" height="400" alt="Photo de Jean Forteroche" >
        </figure>

        <div class="mc_post-content">
          <p>
            Jean FORTEROCHE est née est à grandir au coeur du pays cathare, bercé par les légendes de ses ancètres.</p> <p>Après avoir parcouru le monde à pied, il a connu plusieurs succès littaire, dont son roman le plus connu : "<em>Du Tibet à la Tasmanie : L'histoire d'un voyageur.</em>"</p>
            <p>Son goût prononcé pour les grands espace mène généralement ses personnages au plus loin des civilisations, à la recherche de la véritable nature humaine et en quête du sens de la 
        vie.
            <p>Pour la publication de son dernier roman "<em>Un billet simple pour l'Alaska</em>", l'auteur à souhaité se tourner vers un tout nouveau mode d'édition, afin de plonger au coeur de la lecture 2.0 </p>
          
        </div>
      </div>
        <hr>
    </article>
</main>

{% endblock %}

{% block sidebar %} {{ include('blog/partial/sidebar.html') }} {% endblock %}