{% extends "blog/_base.html" %}

{% block title %}Un billet simple pour l'alaska - Jean FORTEROCHE{% endblock %}

{% block content %}
<main class="content-wrapper col-lg-8 mx-auto">

    {# Main loop to create Blog post preview list #}
    {% for BlogPost in BlogPosts %}
    <!-- Start - Blog post : Preview -->
    <article class="mc_post">
      <!-- Post preview - Header -->
      <header class="row justify-content">
        <div class="mc_post-date date col-12">
          {{BlogPost.publishDate|date('d/m/Y')}} 
        </div>
        <h2 class="mc_post-title col-12"><a href="./?a=viewBlogPost&id={{BlogPost.id}}" class="alt-color">{{BlogPost.title}}</a></h2>
      </header>

      <!-- Post preview - Content -->
      <div class="mc_post-content">
        <figure class="mc_post-picture">
          <img src="{{BlogPost.pictureURL}}" alt="Blog article illustration" >
        </figure>

        <div class="mc_post-content prev">
          {{BlogPost.content|excerpt|raw}}
        </div>
      <!-- Post preview - Footer -->
        <footer class="mc_post-footer">
          <a href="./?a=viewBlogPost&id={{BlogPost.id}}" class="mc_post-readmore light-btn alt-color">Afficher la suite</a>
        </footer>
      </div>
        <hr>
    </article>
    {% endfor %}
  <!-- End - Blog post : Preview -->
  <!-- Paginator -->
    {% block paginator %} {{ include('layout/partial/paginator.html') }}  {% endblock %}
</main>

{% endblock %}

{% block sidebar %} {{ include('blog/partial/sidebar.html') }} {% endblock %}