{% extends "blog/_base.html" %}

{% block title %}{{BlogPost.title}}{% endblock %}

{% block content %}

{% block comments %} {% endblock %}
    <main class="content-wrapper col-lg-9 mx-auto">

        <!-- MAIN CONTENT : POST -->
        <article class="mc_post">
          <!-- POST Complet - Header -->
          <header class="row justify-content">

            <h2 class="mc_post-title col-12">{{BlogPost.title}}</h2>
          </header>

          <!-- POST Complet- Content -->
          <div class="mc_post-content-wrapper">
            <figure class="mc_post-picture">
              <img src="{{BlogPost.pictureURL}}" alt="" >
            </figure>

            <div class="mc_post-content complet">
                {{BlogPost.content | raw}}
            </div>
            <footer class="mc_post-footer">
              <div class="mc_post-date date col-12">
                {{BlogPost.publishDate|date('d/m/Y')}} 
              </div>
              <div class="mc_post_publish-comment">
                <button id="showCommentFormBtn" class="light-btn large-btn">Réagir à la publication</button>
              </div>
            </footer>
          </div>
            <hr>
          </article>
          <!-- [END SECTION] - POST -->

          <!-- [START SECTION] - COMMENT BOX -->
            {{ include('blog/partial/commentBox.html') }}
          <!--[END SECTION] - COMMENT BOX-->

          <!-- [START SECTION] - COMMENTS -->
          <div id="postCommentsWrapper" class="mc_post_comments-wrapper">
            {{ include('blog/partial/commentsList.html') }}
          </div>
          <!-- [END SECTION] - COMMENTS-->
      </main>
{% endblock %}
{# You can add sidebar by uncomment this section
{% block sidebar %}{{ include('blog/partial/sidebar.html') }} {% endblock %}
#}